@inherits RazorSliceHttpResult<DependenciesModel>
@implements IUsesLayout<_Layout, LayoutModel>

@{
    var tokens = Antiforgery.GetTokens(HttpContext!);
}

<div id="dependencies-content">
    <h1>
        <span class="fa-solid fa-cube" aria-hidden="true"></span>
        @(LayoutModel.Title)
    </h1>
    <hr />
    @if (!Model.Trusted.SelectMany((p) => p.Value).Any())
    {
        <div class="card">
            <div class="card-body dependencies-none">
                There are no implicitly trusted dependencies configured.
            </div>
        </div>
    }
    else
    {
        <div class="row justify-content-center">
            <table class="table w-auto">
                <thead class="table-light">
                    <tr>
                        <th scope="col" colspan="2">ID</th>
                        <th scope="col">Version</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Distrust</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach ((var ecosystem, var dependencies) in Model.Trusted)
                    {
                        foreach (var group in dependencies.GroupBy((p) => p.Id))
                        {
                            foreach ((var index, var dependency) in group.Index())
                            {
                                (var name, var url, var icon) = DependencyHelpers.GetPackageMetadata(ecosystem, dependency.Id, dependency.Version);

                                <tr class="trusted-dependency @(index is not 0 ? "table-light" : null)">
                                    <td>
                                        <span class="dependency-ecosystem @(icon)" title="@(name)" aria-hidden="true"></span>
                                    </td>
                                    <td>
                                        <code class="dependency-id">
                                            @if (url is { Length: > 0 })
                                            {
                                                <a href="@(url)" target="_blank" rel="noopener">@(dependency.Id)</a>
                                            }
                                            else
                                            {
                                                @(dependency.Id)
                                            }
                                        </code>
                                    </td>
                                    <td>
                                        <code class="dependency-version">@(dependency.Version)</code>
                                    </td>
                                    <td>
                                        <div class="dependency-timestamp" title="@(dependency.TrustedAt?.ToString("u", CultureInfo.InvariantCulture))">
                                            @(dependency.TrustedAt?.Humanize())
                                        </div>
                                    </td>
                                    <td>
                                        <form action="dependencies/distrust" method="post">
                                            <input type="hidden" name="@(tokens.FormFieldName)" value="@(tokens.RequestToken)">
                                            <input type="hidden" name="ecosystem" value="@(ecosystem)">
                                            <input type="hidden" name="id" value="@(dependency.Id)">
                                            <input type="hidden" name="version" value="@(dependency.Version)">
                                            <div class="d-grid">
                                                <button class="btn btn-danger btn-sm distrust-dependency" title="Distrust @(dependency.Id) @(dependency.Version)" type="submit">
                                                    <span class="fa-solid fa-ban" aria-hidden="true"></span>
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    }
                    <tr>
                        <td colspan="4">
                        <td class="text-end">
                            <form action="dependencies/distrust-all" method="post">
                                <input type="hidden" name="@(tokens.FormFieldName)" value="@(tokens.RequestToken)">
                                <button class="btn btn-danger btn-sm" id="distrust-all" title="Distrust all dependencies" type="submit">
                                    Distrust all
                                    <span class="fa-stack" aria-hidden="true">
                                        <span class="fa-solid fa-database fa-stack-1x text-dark"></span>
                                        <span class="fa-solid fa-ban fa-stack-2x text-white"></span>
                                    </span>
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
                <caption>
                    Implicitly trusted dependencies.
                </caption>
            </table>
        </div>
    }
    <hr />
    <h2>
        <span class="fa-solid fa-ban" aria-hidden="true"></span>
        Denied dependency versions
    </h2>
    @if (Model.Denied.SelectMany((p) => p.Value).Any())
    {
        <div class="row justify-content-center">
            <table class="table w-auto">
                <thead class="table-light">
                    <tr>
                        <th scope="col" colspan="2">ID</th>
                        <th scope="col">Version</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Allow</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach ((var ecosystem, var denied) in Model.Denied)
                    {
                        foreach (var group in denied.GroupBy((p) => p.Id))
                        {
                            foreach ((var index, var dependency) in group.Index())
                            {
                                (var name, var url, var icon) = DependencyHelpers.GetPackageMetadata(ecosystem, dependency.Id, dependency.Version);

                                <tr class="denied-dependency @(index is not 0 ? "table-light" : null)">
                                    <td>
                                        <span class="dependency-ecosystem @(icon)" title="@(name)" aria-hidden="true"></span>
                                    </td>
                                    <td>
                                        <code class="dependency-id">
                                            @if (url is { Length: > 0 })
                                            {
                                                <a href="@(url)" target="_blank" rel="noopener">@(dependency.Id)</a>
                                            }
                                            else
                                            {
                                                @(dependency.Id)
                                            }
                                        </code>
                                    </td>
                                    <td>
                                        <code class="dependency-version">@(dependency.Version)</code>
                                    </td>
                                    <td>
                                        <div class="dependency-timestamp" title="@(dependency.DeniedAt?.ToString("u", CultureInfo.InvariantCulture))">
                                            @(dependency.DeniedAt?.Humanize())
                                        </div>
                                    </td>
                                    <td>
                                        <form action="dependencies/undeny" method="post">
                                            <input type="hidden" name="@(tokens.FormFieldName)" value="@(tokens.RequestToken)">
                                            <input type="hidden" name="ecosystem" value="@(ecosystem)">
                                            <input type="hidden" name="id" value="@(dependency.Id)">
                                            <input type="hidden" name="version" value="@(dependency.Version)">
                                            <div class="d-grid">
                                                <button class="btn btn-danger btn-sm undeny-dependency" title="Allow @(dependency.Id) @(dependency.Version)" type="submit">
                                                    <span class="fa-solid fa-trash-can" aria-hidden="true"></span>
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
                <caption>
                    Denied dependency versions.
                </caption>
            </table>
        </div>
    }
    <div class="row justify-content-center mt-3">
        <div class="col-auto">
            <form action="dependencies/deny" method="post" class="row row-cols-lg-auto g-3 align-items-center" autocomplete="off">
              <div class="col-12">
                  <input type="hidden" name="@(tokens.FormFieldName)" value="@(tokens.RequestToken)">
                  <label class="visually-hidden" for="deny-ecosystem">Ecosystem</label>
                  <select id="deny-ecosystem" name="ecosystem" class="form-select">
                      <option value="@(DependencyEcosystem.Docker)">Docker</option>
                      <option value="@(DependencyEcosystem.GitHubActions)">GitHub Actions</option>
                      <option value="@(DependencyEcosystem.GitHubRelease)">GitHub</option>
                      <option value="@(DependencyEcosystem.Npm)">npm</option>
                      <option value="@(DependencyEcosystem.NuGet)" selected>NuGet</option>
                      <option value="@(DependencyEcosystem.PyPI)">PyPI</option>
                      <option value="@(DependencyEcosystem.Ruby)">Ruby</option>
                  </select>
              </div>
              <div class="col-12">
                  <label class="visually-hidden" for="deny-id">Package ID</label>
                  <div class="input-group">
                      <div class="input-group-text">
                          <span class="fa-solid fa-cube" aria-hidden="true"></span>
                      </div>
                      <input id="deny-id" type="text" name="id" class="form-control" placeholder="Foo.Bar" required spellcheck="false" data-1p-ignore />
                  </div>
              </div>
              <div class="col-12">
                  <label class="visually-hidden" for="deny-version">Package Version</label>
                  <div class="input-group">
                      <div class="input-group-text">
                          <span class="fa-solid fa-hashtag" aria-hidden="true"></span>
                      </div>
                      <input id="deny-version" type="text" name="version" class="form-control" placeholder="1.2.3" spellcheck="false" required data-1p-ignore />
                  </div>
              </div>
              <div class="col-12">
                  <button id="deny-dependency" type="submit" class="btn btn-secondary">
                      <span class="fa-solid fa-ban" aria-hidden="true"></span>
                      Deny
                  </button>
              </div>
            </form>
        </div>
    </div>
</div>

@functions {
    public LayoutModel LayoutModel { get; } = new("Dependencies");
}
